[user]
	name = Alex Nichols
	email = 19493383+alexcnichols@users.noreply.github.com
[credential]
	helper = osxkeychain
[color]
  ui = auto
[color "diff"]
  meta = cyan bold
  frag = magenta bold
[color "status"]
  untracked = cyan
[color "branch"]
  current = cyan reverse bold
  local = green
  remote = yellow
[core]
	editor = code --wait
